@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: black;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}
h2 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    color: black;
}

/* Header style */

#logo {
    float: left;
}

#menu {
    float: right;
}

#menu li {
    display: inline-block;
}
