@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: black;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: aliceblue;
}
h2 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    color: black;
}

/* Header style */
#header-container {
    padding: 30px;
    border: 1px solid #110066;
    background-color: #110066;
    position: relative;

}

#logo {
    float: left;
    position: absolute;
    top: 10px;
    left: 10px
}

#menu {
    font-size: 130%;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
}

li a {
    color: aliceblue;
}

#menu li {
    display: inline-block;
}

/* Photo section */

#about {
width: auto;
height: auto;
position: absolute;
right: 10%;
left: 10%
}

#photo-about {
    background-image: url(../images/comica2.jpg);
    background-color: red;
    height: 444px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#photo-about {
    float: right;
    position: fixed;
    right: 30%;
} 

#short-about {
    text-align: left;
    float: left;
    position: fixed;
    left: 5%;
    right: 50%;
    width: auto;
}
